
/* css variables/properties */
:root {
    --header-size: 50px;
    --border-radius: 10px;
}



/* Global properties */




/* <main> */
main section:nth-child(odd) {background-color:rgb(226, 223, 223)}
main section:nth-child(even) {background-color:rgb(241, 211, 211)}

h2 {
    text-align: center;
    font-size: var(--header-size);
}



/* <header> */

header {
    display: flex;
    background-color: rgb(177, 164, 164);
    height: 85px;
}

h1 {
    font-size: 55px;
    margin: 10px;
    width: 55%;
    text-align: center;
    margin: auto;
}

nav {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    font-size: 42px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    -webkit-transition: font-size 0.5s;
    font-size: 45px;
    color:rgb(103, 103, 103);
}



/* <section> */

.portfolio-section {
    display: flex;
    height: 500px;
    padding: 10px;
    padding-top: 20px;
}

section div:nth-child(1) {width: 35%;}
section div:nth-child(2) {width: 65%;}



/* <section> - About Me */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me img {
    height: 350px;
    width: 350px;
    margin: auto;
    border-radius: var(--border-radius);
    filter: drop-shadow(10px 10px 10px black);
}

.about-me p {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    border: 1px solid black;
    padding: 5px;
    border-radius: var(--border-radius);
}

.skill-list {
    width: 33%;
}

.skill-list h4 {
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.skill-list li {
    text-align: center;
    margin: 5px;
    font-size: 18px;
}



/* <section> - Work Portfolio */

#work-portfolio {
    height: 900px;
    display: inline-block;
    width: 100%
}

#work-portfolio h2 {
    text-align: center;
    font-size: var(--header-size);
}

#work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20 auto;
    width: 100%
}

.work-card {
    width: 30%;
    height: 375px;
    margin: 5px;
    border-radius: var(--border-radius);
    border: 1px solid black;
}

.work-card img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.work-card img:hover {
    -webkit-transition: opacity 0.5s;
    opacity: .5;
}



/* <section> - Contact */

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info-item {
    font-size: 30px;
    text-decoration: none;
    color: black;
}









